.pane {
    -fx-background-color: #e0e0eb;
}

.border {
	-fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.title {
	-fx-font-family: sans-serif;
	-fx-font-size: 50px;
	-fx-font-weight: bold;
}

.title2 {
	-fx-font-family: sans-serif;
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.subtitle {
	-fx-font-family: sans-serif;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-fill: #62629d;
	-fx-text-alignment: center;
}

.body {
	-fx-font-family: sans-serif;
	-fx-font-size: 12px;
}

.red-back {
	-fx-background-color: #ff0000;
}

.orange-back {
	-fx-background-color: #ff9933;
}

.yellow-back {
	-fx-background-color: #ffff00;
}

.green-back {
	-fx-background-color: #00cc00;
}

.blue-back {
	-fx-background-color: #0066ff;
}

.purple-back {
	-fx-background-color: #9900cc;
}

.pink-back {
	-fx-background-color: #ff33cc;
}

.combo-box {
	-fx-font-family: sans-serif;
	-fx-background-color: #a3a3c2;
	-fx-border-radius: 8px;
}

.combo-box:hover {
	-fx-background-color: #e0e0eb;
}

.combo-box:pressed {
	-fx-background-color: #62629d;
}

.button {
	-fx-font-family: sans-serif;
	-fx-background-color: #a3a3c2;
	-fx-border-radius: 8px;
}

.button:hover {
	-fx-background-color: #e0e0eb;
}

.button:pressed {
	-fx-background-color: #62629d;
}

.table-view .column-header{
	-fx-background-color: #a3a3c2;
	-fx-border-style: solid;
	-fx-border-color: black;
}

.table-view {
	-fx-background-color: #e0e0eb;
}